body
{
	background-color: purple;
	width: 90%;
	min-width: 2291px;
	margin: auto;
}

/*
**header
*/
header
{
	width: 100%;
	height: 200px;
	background: black;
	border-radius: 20px;
}

h1
{
	color: purple;
	font-size: 90px;
	text-align: center;
	margin-top: 50px;
	padding: 0;
}

#title
{
	display: inline-block;
	height: 200px;
	width: 80%;
	vertical-align: top;
}

#div_logo
{
	display: inline-block;
	height: 200px;
	width: 300px;

}

#logo
{
	width: 300px;
}

#div_client
{
	vertical-align: top;
	height: 170px;
	width: 150px;
	display: inline-block;
	text-align: center;
}

#client
{
	margin-top: 35px;
	border: 1px solid white;
	height: 130px;
}

#bonjour
{

	height: 29px;
	width: 150px;
}

#color_bonjour
{
	border: 1px solid white;
	color: white;
	font-size: 2px;
}
#client2
{
	vertical-align: top;
	display: inline-block;
	width: 150px;
	height: 200px;
}
/*
**Menus_left
*/
#menus_left
{
	float: left;
	width: 200px;
	height: 800px;
	border-radius: 20px;
	background: black;
}

#panier
{
	margin-top: 25px;
	margin-left: 20px;
}

#size_panier{width: 155px;}

#size_vet{height: 95%;}

.vet
{
	height: 17%;
	margin-left: 39px;
	margin-top: 45px;
}

#size_pant
{width: 135px;}

#size_shoes{height: 95%;}

#p_panier
{
	padding-left: 45px;
	font-size: 15px;
	text-decoration: none;
	color: white;
}

/*
**
*/
#menus_center
{
	margin-top: 20px;
	height: 800px;
	margin-left: 230px;
	background: black;
	border-radius: 20px;
}

/*
**footer
*/
footer
{
	margin-top: 15px;
	background: black;
	border-radius: 20px;
}


h2
{
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: purple;
}